@model ORDER

<h1>Hello Admin </h1>
<td><a href="/Product/Save/" class="btn btn-outline-primary">New</a></td>
<a href="c:\users\esraa\source\repos\bnm\views\order\getorders.cshtml">c:\users\esraa\source\repos\bnm\views\order\getorders.cshtml</a>
<p>@Model.Id</p>

<p>@Model.date</p>



