@model Product
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<form method="post" action="/Product/Delete/@Model.Id" id="deleteForm">
    <button type="button" class="btn btn-danger" onclick="showDeleteConfirmation()">Delete</button>
</form>

<script>
    function showDeleteConfirmation() {
        if (confirm("Are you sure you want to delete this product?")) {
            window.location.href = "/Product/Delete/@Model.Id";
        }
    }
</script>